*{
    margin: 0;
    padding: 0;
}
nav{
    background: green;
    padding: 1rem;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}